<html>
    <head>
        <meta charset="UTF-8">
        <link href= "/stylesheets/index.css" rel="stylesheet" type="text/css">
        <title>Automarket - Home</title>
    </head>
    <header>
        <h3>Welcome to Automarket!</h3>
    </header>
    <body>
        <ul>
            <li><a href="getParts">get all parts</a></li>
            <li><a href="processCC">process a credit card</a></li>
        </ul>
    </body>
    <footer>
        <pre>
    Contact Us: genericemail@AOL.com                           Created by: Christian Beck Rygiewicz | z1968850
                                                                           Aidan Henrichs           | z1980086
                                                                           Carson Hegge             | z1906611
                                                                           Cody Evans               | z1940102
</pre>
    </footer>
</html>